@font-face{
    font-family: headerFont;
    src: url(ui/fonts/Summer-Vibes-OTF.otf);
}

@font-face{
    font-family: textFont;
    src: url(ui/fonts/OpenSans-Regular.ttf);
}
body{
    background-color: #000;
}
.main_chat{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    text-align: center;
    color: #0095ff;
}
#wrapper{
    box-shadow: 0 0 5px 5px #0095ff;
    border-radius: 20px;
    max-width: 900px;
    min-height: 500px;
    max-height: 630px;
    display: flex;
    margin: auto;
    color: #fff;
    font-family: textFont;
    font-size: 13px;
}
#left_pannel{
    min-height: 500px;
    background-color: #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    align-items: center;
    text-align: center;
}
#profile_image{
    width: 120px;
    height: 120px;
    border: solid thin white;
    border-radius: 50%;
    margin: 20px;
}
#left_pannel label{
    width: 100%;
    height: 20px;
    display: block;
    background-color: #1d1d1d;
    border-bottom: solid thin #ffffff55;
    cursor: pointer;
    padding: 5px;
    transition: all 1s ease;
}
#left_pannel label:hover{
    background-color: #0095ff;
}
#left_pannel label img{
    float: right;
    width: 25px;
}
#right_pannel{
    min-height: 500px;
    flex: 4;
    border-bottom-right-radius: 20px;
}
#header{
    background-color: #252525;
    height: 70px;
    font-size: 40px;
    text-align: center;
    font-family: headerFont;
    position: relative;
    border-top-right-radius: 20px;
    color: #0095ff;
}

#inner_left_pannel{
    background-color: #505050;
    min-height: 430px;
    flex: 1;
    max-height: 530px;
    border-bottom-right-radius: 20px;
}
#inner_right_pannel{
    background-color: #f2f7f8;
    min-height: 430px;
    max-height: 530px;
    flex: 2;
    transition: all 1.2s ease;
}

#radio_contacts:checked ~ #inner_right_pannel{
    flex: 0;
}
#radio_settings:checked ~ #inner_right_pannel{
    flex: 0;
}

.signup{
    color: gray;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.signup input[type='text'], input[type='password'], input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 98%;
    border-radius: 5px;
    border: solid 1px gray;
}
.signup input[type='submit']{
    width: 100%;
    cursor: pointer;
    background-color: #2b5488;
    color: #fff;
}
.signup input[type='radio'], label{
    transform: scale(1.2s);
    cursor: pointer;
}
select {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
select option{
    width: 100%;
}

.login{
    color: gray;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.login input[type='text'], input[type='password'], input[type='submit']{
    padding: 10px;
    margin: 10px;
    width: 98%;
    border-radius: 5px;
    border: solid 1px gray;
}
.login input[type='submit']{
    width: 100%;
    cursor: pointer;
    background-color: #2b5488;
    color: #fff;
}
.login input[type='radio'], label{
    transform: scale(1.2s);
    cursor: pointer;
}


#error{
    background-color:rgb(233, 65, 65);
    display: none;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

#contact{
    width: 100px;
    height: 120px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
#contact img{
    width: 100px;
    height: 100px;
}

#active_contact{
    height: 70px;
    border: solid thin #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
    background-color: #afafaf;
    color: #000;
}
#active_contact:hover{
    background-color: #eee;
}
#active_contact img{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 50%;
}

#message_left{
    margin: 10px;
    padding: 2px;
    padding-right: 10px;
    background-color: #eee;
    color: #444;
    float: left;
    box-shadow: 0 0 10px #aaa;
    border-bottom-left-radius: 50%;
    position: relative;
    width: 60%;
}
#message_left #prof_img{
    width: 60px;
    height: 60px;
    float: left;
    margin: 2px;
    border-radius: 50%;
    border: solid 2px #fff;
}

#message_left div{
    width: 20px;
    height: 20px;
    border: solid 2px #fff;
    background-color: #346174;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 10px;
}

#message_right{
    margin: 10px;
    padding: 2px;
    padding-right: 10px;
    background-color: #0095ff;
    color: #fff;
    float: right;
    box-shadow: 0 0 10px #aaa;
    border-bottom-right-radius: 50%;
    position: relative;
    width: 60%;
}
#message_right #prof_img{
    width: 60px;
    height: 60px;
    float: right;
    margin: 2px;
    border-radius: 50%;
    border: solid 2px #fff;
}

#message_right div{
    width: 20px;
    height: 20px;
    border: solid 2px #fff;
    background-color: #346174;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: 10px;
}

#message_right #trash{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: -10px;
    cursor: pointer;
}

#message_left #trash{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: -10px;
    cursor: pointer;
}

.loader_on{
    position: absolute;
    width: 30%;
}
.loader_off{
    display: none;
}
.loader_on img{
    width: 70px;
    height: 70px;
}
.image_on{
    position: absolute;
    height: 450px;
    width: 450px;
    margin: auto;
    z-index: 99;
    right: 50px;
    top: 50px;
}
.image_off{
    display: none;
}
